body {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.titulo {
    display: flex;
    font-size: clamp(1rem, 0.2rem + 5vw, 1.5rem);
    margin-left: 10vw;
    margin-top: 5vh;
}

.titulo>p {
    margin-right: 1vw;
}

.description_crew {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
}

.sob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.role {
    font-size: clamp(1rem, 2rem + 5vw, 2.5rem);
    opacity: 0.7;
}

.name {
    font-size: clamp(2rem, 0.125rem + 10vw, 3rem);
}

.biografia {
    width: 25vw;
    margin-top: 2vh;
    font-size: clamp(1rem, 0.5rem + 15vw, 1.2rem);
    opacity: 0.7;
}

.pessoa {
    height: 65vh;
    margin-top: auto;
}

.pessoa>img {
    width: 100%;
    height: 100%;
}

@media(max-width: 1250px) {
    body {
        background-image: url(../../assets/crew/background-crew-tablet.jpg);
    }
    .description_crew {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .description {
        display: flex;
        align-items: center;
        width: 100vw;
        margin-top: 5vh;
    }
    .sob {
        width: 60vw;
        height: auto;
    }
    .pessoa {
        height: 40vh;
    }
    .biografia {
        width: 100%;
    }
    .radios {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5vh;
    }
}

@media(max-width: 750px) {
    body {
        background-image: url(../../assets/crew/background-crew-mobile.jpg)
    }
    .sob {
        width: 100vw;
        height: auto;
    }
}