body {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

.main_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    margin-left: 10vw;
}

.titulo {
    display: flex;
    font-size: clamp(1rem, 0.125rem + 5vw, 2rem);
}

.titulo>p {
    margin-right: 1vw;
}

.description_crew {
    display: flex;
    margin-top: auto;
    width: 100vw;
    height: 60%;
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.biografia {
    width: 30vw;
    background-color: tomato;
}