body {
    background-image: url(../../assets/technology/background-technology-desktop.jpg);
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.content_main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    font-size: clamp(1.25rem, 0.125rem + 10vw, 1.9rem);
    height: 25%;
}

.title_info {
    display: flex;
    align-items: center;
    margin-left: 10vw;
}

.title_info>p {
    margin-left: 1vw;
}

.apresentation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 1.8;
}

.id {
    opacity: 0.3;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons>input {
    background-color: transparent;
    height: 10vh;
    width: 5vw;
    border-radius: 100%;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: xx-large;
    margin-top: 3vh;
    cursor: pointer;
}

.description {
    font-size: clamp(1rem, 0.125rem + 3.5vw, 1.2rem);
    opacity: 0.5;
}

.buttons>input:hover {
    background-color: white;
    color: black;
}

.name {
    font-size: clamp(2rem, 1rem + 10vw, 3.5rem);
}


/* responsive */

@media(max-width: 1250px) {
    .apresentation {
        flex-direction: column;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .buttons>input {
        width: 7vw;
        margin-left: 2vw;
        margin-top: 0px;
    }
    .titulo {
        display: flex;
        font-size: clamp(1rem, 0.125rem + 10vw, 1.9rem);
        margin-top: 5vh;
    }
    .text {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 1.8;
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media(max-width: 750px) {}